<link rel="stylesheet" href="/css/navbar.css">

<nav class="navbar navbar-expand-lg navbar-light top-0" style="z-index: 100;">
    <div class="container-fluid" style="background-color: white;">
      <a  id="text-color" class="navbar-brand mx-3" href="views/landing.ejs">Bookso</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-4" id="text-style">
          <li class="mx-5" class="nav-item">
            <a  class="nav-link active" aria-current="page" href="#">Book</a>
          </li>
          <li class="px-4"class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Fiction</a>
          </li>
          <li class="px-4" class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Non Fiction</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
          </li>
        </ul>
        <form class="d-flex px-3 ">
          <input class="form-control mx-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success mx-auto"  type="submit">Search</button>
        </form>
      </div>

      <% if (isLoggedin) { %>
        <a class="btn-global-secondary ms-2 text-decoration-none" href="/logout">Logout</a>
      <% }else{ %>
        <a class="btn-global-primary rounded fw-bold text-decoration-none" href="/login">Login</a>
        <% } %>



    </div>
  </nav>