<%- include('partials/head.ejs') %> 
<%- include('partials/navbar.ejs') %>

<form action="/admin/product" method="post" enctype="multipart/form-data" id="add-product">
  <div class="container p-4 d-flex">
    <div
      class="col-3 bg-light shadow rounded"
      style="height: 70vh; width: 35vh">
      <div class="w-100 bg-bookso text-center py-2 fw-bold font-color-secondary rounded-top">
        ADMIN PANEL
      </div>
      <div class="w-100 h-75 d-flex flex-column ps-4 justify-content-around text-bookso fw-bold mt-3 custom-text-shadow">
        <a class="text-decoration-none text-bookso" href="/admin"><div>
            <i class="fa-solid fa-layer-group pe-2" style="color: #535351"></i>DASHBOARD
          </div></a>
        <a class="text-decoration-none text-bookso" href="/admin/products"><div>
            <i class="fa-solid fa-cubes-stacked pe-2" style="color: #535351"></i>PRODUCTS
          </div></a>
        <a class="text-decoration-none text-bookso" href="/admin/customers"><div>
            <i class="fa-solid fa-users pe-2" style="color: #535351"></i>CUSTOMERS
          </div></a>
        <a class="text-decoration-none text-bookso" href="/admin/orders"><div>
            <i class="fa-solid fa-cart-shopping pe-2" style="color: #535351"></i>ORDERS
          </div></a>
        <a class="text-decoration-none text-bookso" href="/admin/category"><div>
            <i class="fa-solid fa-list pe-2" style="color: #535351"></i>CATEGORY
          </div></a>
        <a class="text-decoration-none text-bookso" href="/admin/report"><div>
            <i class="fa-solid fa-universal-access pe-2"
              style="color: #535351"></i>SALES REPORT
            </div></a>
        <a class="text-decoration-none text-bookso" href="/admin/banner"><div>
            <i class="fa-regular fa-flag pe-2" style="color: #535351"></i>BANNER
            MANAGE
          </div></a>
        <a class="text-decoration-none text-bookso" href="/admin/coupons"><div>
            <i class="fa-solid fa-ticket-simple pe-2" style="color: #535351"></i>MANAGE COUPONS
          </div></a>
      </div>
    </div>
    <!-- <form method="post" action="/admin/Product"> -->

    <div class="col-6">
      <div class="row mb-1 ms-4">
        <div class="col-12">
          <div class="text-bookso-product">Product Name</div>
          <input
            name="name"
            id="name"
            type="text"
            class="form-control"
            aria-label="Text input with dropdown button"
            required
          />
        </div>
      </div>
      <div class="row ms-4">
        <div class="col-6">
          <div class="text-bookso-product">Author</div>
          <input
            name="author"
            type="text"
            class="form-control"
            aria-label="Text input with dropdown button"
            required
          />
        </div>
        <div class="col-6">
          <div class="text-bookso-product">Publisher</div>
          <input
            name="Publisher"
            type="text"
            class="form-control"
            aria-label="Text input with dropdown button"
            required
          />
        </div>
      </div>
      <div class="row ms-4">
        <div class="col-6">
          <div class="text-bookso-product">Category</div>
          <select
            name="category"
            class="form-select"
            aria-label="Default select example"
            required
          >
            <option selected>Category</option>
            <% categories.forEach(element => { %>
                <option value=<%= element._id %>><%= element.name %></option>
                
            <% }) %>
            
          </select>
        </div>
        <div class="col-6">
          <div class="text-bookso-product">Format</div>
          <input
            name="format"
            type="text"
            class="form-control"
            aria-label="Text input with dropdown button"
            required
          />
        </div>
      </div>
      <div class="row ms-4">
        <div class="col-6">
          <div class="text-bookso-product">Stock Quantity</div>
          <input
            name="stock"
            id="stock"
            type="number"
            class="form-control"
            aria-label="Text input with dropdown button"
            required
          />
        </div>
        <div class="col-6">
          <div class="text-bookso-product">Price</div>
          <input
            name="price"
            id="price"
            type="number"
            class="form-control"
            aria-label="Text input with dropdown button"
            required
          />
        </div>
      </div>
      <div class="row ms-4">
        <div class="col-6">
          <div class="text-bookso-product">Language</div>
          <input
            name="language"
            type="text"
            class="form-control"
            aria-label="Text input with dropdown button"
            required
          />
        </div>
        <div class="col-6">
          <div class="text-bookso-product">Discount</div>
          <input
            name="discount"
            id="discount"
            type="number"
            class="form-control"
            aria-label="Text input with dropdown button"
            required
          />
        </div>
      </div>
      <div class="row ms-4">
        <div class="text-bookso-product">Description</div>
        <textarea
          name="description"
          type="text"
          class="form-control" required
        ></textarea>
      </div>
      <button  class="btn-global-primary ms-4 mt-3" type="submit">ADD</button>
      <!-- <div name="description" class="w-100 mt-3"><textarea class="w-100 h-100" placeholder="Description"></textarea></div> -->
    </div>
    <div class="col-3 ms-4 d-flex flex-column">
      <div id="image-container" class="mb-3 w-100 border border-warning">
        <input id="img-input" class="w-100" type="file"  name="images" multiple />
        <div class="image-display-container"></div>
      </div>
    </div>
  </div>
  
</form>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>
<script
  src="https://kit.fontawesome.com/9160c00447.js"
  crossorigin="anonymous"
></script>

<!-- //image need to be seen inside the box  for the visibility of image in the product page -->
<script>
  const nameInput = document.querySelector("#name")
  const imageInput = document.querySelector("#img-input");
  const imageContainer = document.querySelector('#image-container');
  const addProductform = document.querySelector("#add-product")
  const stockInput = document.querySelector("#stock")
  const priceInput = document.querySelector("#price")
  const discountInput = document.querySelector("#discount")
  const imageDisplay = document.querySelector(".image-display-container")

  
  // function validateImages(files) {
  //   const allowedTypes = ['image/jpeg', 'image/png', 'image/gif'];
  //   const maxSize = 1024 * 1024; // 1MB

  //   for (let i = 0; i < files.length; i++) {
  //     const file = files[i];

  //     // Check file type
  //     if (!allowedTypes.includes(file.type)) {
  //       alert('Only JPG, PNG, or GIF files are allowed');
  //       return false;
  //     }

  //     // Check file size
  //     if (file.size > maxSize) {
  //       alert('Image size exceeds 1MB limit');
  //       return false;
  //     }
  //   }

  //   return true;
  // }




  imageInput.addEventListener("input", (event) => {

    imageDisplay.innerHTML = "";
    const images = event.target.files;
    console.log(images);

    for (let i = 0; i < images.length; i++) {

      console.log(images[i]);

      const img = document.createElement("img");
      img.classList.add("image");
      img.src = URL.createObjectURL(images[i]);
      imageDisplay.append(img);

    }
  });

  // addProductform.addEventListener("submit",(event)=>{
  //   if(!(stockInput.value>0 && priceInput.value>0 && discountInput.value>0)){
  //     event.preventDefault()
  //     stockInput.value = " "
  //     priceInput.value = " "
  //     discountInput.value = " "
  //     alert("Invalid Input")
  //   }

  // })
  addProductform.addEventListener("submit", (event) => {
    // Trim whitespace from input values and check if they are empty
    const isInvalidInput = [nameInput,imageInput,stockInput, priceInput, discountInput].some(input => input.value.trim() === '');

    if (isInvalidInput) {
        event.preventDefault();
        alert("Please fill in all fields");
    } else if (!(stockInput.value > 0 && priceInput.value > 0 && discountInput.value > 0)) {
        event.preventDefault();
        stockInput.value = "";
        priceInput.value = "";
        discountInput.value = "";
        alert("Invalid Input");
    }
});

</script>
