<%- include('partials/head.ejs') %> 
<body style="background-color: #535351; color:#F6EF38; margin-top: 40vh;">
<center>
    <p class="fs-1 fw-bold">Whoops!</p>
    <br>
    <br>
    <p class="fs-6">Somthing went wrong</p>
    <div class="container mt-2 fw-bold" id="timer">
        5
      </div>
</center>
<script>
     let i = 5
    const timerContainer = document.querySelector("#timer")
   setInterval(()=>{
    i--;
        timerContainer.innerHTML=i
   },1000)
    setTimeout(() => {
        window.location.href='/';
    }, 5000);
</script>
</body>
</html>