<%- include('partials/head.ejs') %> 
<%- include('partials/navbar.ejs') %>
<body>
    <div class="container mt-5 col-4">
<form method="post" action="/sendForgotLink" id="signup-form">
    <div class="form-outline mb-2">
      <input
        type="text"
        id="name"
        class="form-control"
        name="email"
        placeholder="Enter your Email"
      />
    </div>
    <div class="text-center pt-1 mb-5 pb-1">
        <button class="btn-global-primary mt-4 fw-bold" type="submit">
          SEND EMAIL
        </button>
      </div>
</form>
</div>
</body>