<%- include('partials/head.ejs') %> 
<%- include('partials/navbar.ejs') %>
<body>
    <div class="container mt-5 col-4">
<form method="post" action="/updatePassword" id="signup-form">

    <div class="form-outline mb-1">
      <input type="password" id="password" class="form-control" name="password"placeholder="Enter Your New Password" required>
    </div>
    <div class="form-outline mb-2 mt-2">
      <input type="password" id="passwordTwo" class="form-control" placeholder="Confirm Your New Password" required>
    </div>
    <div class="text-center pt-1 mb-5 pb-1">
        <button class="btn-global-primary mt-4 fw-bold" type="submit">
          UPDATE
        </button>
      </div>
    </form>
  </div>
  <script>
    const signupForm = document.querySelector("#signup-form")
    const passwordOneInput = document.querySelector("#password")
    const passwordTwoInput = document.querySelector("#passwordTwo")

    signupForm.addEventListener("submit",(event)=>{
      if(passwordOneInput.value !== passwordTwoInput.value){
        event.preventDefault()
        passwordOneInput.value = ''
        passwordTwoInput.value = ''
        alert("Password Dosen't Match")
      }
    })

    


  </script>
</body>

