<%- include('partials/head.ejs') %> 
<%- include('partials/navbar.ejs') %>
<%- include('partials/userSidebar.ejs') %>


    <div class="col-9">
        <div class="py-3 mx-3 shadow custom-box-shadow">
        <div class="text-center text-bookso fs-4 fw-bold">ORDERS</div>
            <hr style="color:#F6EF38; height: 6px;">
            <div class=" mx-3 border rounded border-3 h-75 text-center " >
                <div class="d-flex mt-2 mb-2 align-items-center">
                    <img src="images\books landing.jpg" class="mx-2 w-25">
                    <div class="fw-bold" >Can't Qurantine<br> Our Love</div>
                    <div class="fw-bold  text-primary ms-5">₹545.00</div>
                    <div class="fw-bold text-success ms-5">* Delivered on 17th Aug</div>
                </div>
                
            </div>
        </div>
        </div>




<%- include('partials/closingHead.ejs') %>