<%- include('partials/head.ejs') %>
<%-include('partials/navbar.ejs') %>



<div class="container">
    <div class="container bg-bookso text-center text-light fs-4 fw-bold">
      ORDER SUMMARY
    </div>
    <div class="container-order fs-2 ">
      <i class="fa-solid fa-circle-check fa-lg" style="color: #266d08;"></i>
    Thank you For Your Order.<br> Your order is placed with Cash On Delivery.
    </div>
</div>





    <%- include('partials/closingHead.ejs') %>