<%- include('partials/head.ejs') %> 
<%- include('partials/navbar.ejs') %>
    <section class="h-100 gradient-form" style="background-color: #fff">
      <div class="container py-5 pt-0 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-8">
            <div class="card rounded-3 text-black">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="card-body px-4">
                    <div class="text-center">
                      <h4 class="mt-1 mb-3 pb-1" style="color: #f6ef38">
                        SIGN UP
                      </h4>
                      <hr style="color: #f6ef38" />
                    </div>

                    <form method="post" action="/signup" id="signup-form">
                      <div class="form-outline mb-2">
                        <!-- <label class="form-label" for="form2Example11">Username</label> -->
                        <input
                          type="text"
                          id="name"
                          class="form-control"
                          name="name"
                          placeholder="Enter Your Name"
                        />
                      </div>

                      <div class="form-outline mb-1">
                        <!-- <label class="form-label" for="form2Example22">Password</label> -->
                        <input
                          type="number"
                          id="phone"
                          class="form-control"
                          name="phone"
                          placeholder="Enter Your Phonenumber"
                        />
                      </div>
                      <div class="form-outline mb-2">
                       
                        <input
                          type="email"
                          id="email"
                          class="form-control"
                          name="email"
                          placeholder="Enter Your email address"
                        />
                      </div>

                      <div class="form-outline mb-2">
                     
                        <input
                          type="password"
                          id="password"
                          class="form-control"
                          name="password"
                          placeholder="Enter Your Password"
                        />
                      </div>

                      <div class="form-outline mb-2">
                        <input
                          type="password"
                          id="confirmPassword"
                          class="form-control"
                          name="confirmPassword"
                          placeholder="Confirm Your Password"
                        />
                      </div>

                      <div
                        class="alert alert-danger hide"
                        role="alert"
                        id="error-message"
                      ></div>

                      <% if (message) { %>
                        <div
                        class="alert alert-danger"
                        role="alert"
                        id="error-message"
                        ><%= message%></div>
                        <% } %>

                      <div class="text-center pt-1 mb-5 pb-1">
                        <button class="btn-global-primary mt-4 fw-bold" type="submit">
                          CREATE ACCOUNT
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
                <div
                  class="col-lg-6 d-flex align-items-center gradient-custom-2"
                >
                  <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                    <h4 class="mb-4" style="color: #ffff">
                      We are more than just a company
                    </h4>
                    <p class="small mb-0" style="color: #535151">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script>
      const nameInput = document.querySelector('input[name="name"]');
      const phoneInput = document.querySelector('input[name="phone"]');
      const passwordInput = document.querySelector('input[name="password"]');
      const confirmPassword = document.querySelector('input[name="confirmPassword"]');
      const signupInput = document.querySelector("#signup-form");
      const erromsg = document.querySelector("#error-message");

      const phoneRegex = /^\+[0-9]{1,3}-[0-9]{1,14}$/;
      const passwordRegex =
        /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@#$%^&*])[a-zA-Z\d@#$%^&*]{8,}$/;
      const nameRegex = /^[A-Za-z]+$/;

      const ValidateName = () => {
        if (!nameRegex.test(nameInput.value)) {
          erromsg.innerHTML =
            "Please provide names for at least two characters, without including numbers or special characters, and I'll help craft a good sentence with them.";
          erromsg.classList.remove("hide");
          return false;
        } else {
          erromsg.innerHTML = " ";
          erromsg.classList.add("hide");
          return true;
        }
      };
      nameInput.addEventListener("blur", () => {
        ValidateName();
      });
      const ValidatePhone = () => {
        if (
          `${phoneInput.value}`.length > 9 &&
          `${phoneInput.value}`.length < 14
        ) {
          erromsg.classList.add("hide");
          return true;
        } else {
          erromsg.innerHTML = "Type a Valid Phone Number";
          erromsg.classList.remove("hide");
          return false;
        }
      };

      phoneInput.addEventListener("blur", () => {
        ValidatePhone();
      });

      const ValidatePassword = () => {
        if (!passwordRegex.test(passwordInput.value)) {
          erromsg.innerHTML =
            "Require atleast 8 characters,including one uppercase,special Character and a number.";
          erromsg.classList.remove("hide");
          return false;
        } else {
          erromsg.innerHTML = " ";
          erromsg.classList.add("hide");
          return true;
        }
      };
      passwordInput.addEventListener("blur", () => {
        ValidatePassword();
      });

      const ValidConfirmPassword = ()=>{
        if(!(passwordInput.value === confirmPassword.value)){
          erromsg.innerHTML="Password Incorrect"
          erromsg.classList.remove("hide");
          return false;
        }else{
          erromsg.classList.add("hide")
          return true;
        }
      }
      confirmPassword.addEventListener("blur",()=>{
        ValidConfirmPassword();
      })
     

      signupInput.addEventListener("submit", (event) => {
        if (ValidateName() && ValidatePhone() && ValidatePassword()&& ValidConfirmPassword()) { 
        }
        else{
          event.preventDefault();
        }
      });
    </script>
  </body>
</html>
