<%- include('partials/head.ejs') %> 
<%- include('partials/navbar.ejs') %>
<%- include('partials/userSidebar.ejs') %>

<div class="col-9">

    <div class="py-3 ml-3 mx-3 shadow rounded custom-box-shadow">
        
    </div>
</div>

<%- include('partials/closingHead.ejs') %>

