*{
    padding: 0;
    margin: 0;
}

.data-info{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;

}
.box{
    background-color: #F6EF38;
    height: 150px;
    flex-basis: 150px;
    flex-grow: 1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.box i{
    font-size:40px
}
.box .data{
    text-align: center;
}
.box .data span{
    font-size: 30px;
}
