
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf') format('woff2'); /* Adjust the path and font format as needed */
    font-style:normal;
}
@font-face {
    font-family: 'Jomhuria';
    src: url('../fonts/Jomhuria/Jomhuria-Regular.ttf') format('woff2'); /* Adjust the path and font format as needed */
    font-weight: normal;
    font-style:normal;
}
@font-face {
    font-family: 'inkut antiqua';
    src: url('../fonts/Inknut_Antiqua/InknutAntiqua-Regular.ttf')format('woff2');
    font-weight: normal;
    font-style: normal;
}
#landing-text-color{
    color: #C6BF15;
    font-family: inkut antiqua;
    padding-left: 10px; 
    font-size: 30px;
     padding-top: 15px;
}
#landing-text-style{
    font-family: inkut antiqua;
}
.img-1-steal{
    font-family: inkut antiqua;
    font-size: 14px;
    color: #C6BF15;
}